<!DOCTYPE HTML>
<html>
    <head>
        {%block head%}
        <meta charset='UTF-8' />
        <title> {%block title%}Say My View{%endblock%}</title>
        <link href="/static/css/reset.css" rel="stylesheet" />
        <link href="/static/css/960.css" rel="stylesheet" />
        {%include "third_scripts.html" %}
        {%block extra_head%}{%endblock%}
        {%endblock%}
    </head>
    <body>
        {%block body%}
            {%block header%}
                {%include "header.html"%}
            {%endblock%}
            {%block content%}{%endblock%}
            {%block footer%}
                {%include "footer.html"%}
            {%endblock%}
        {%endblock%}
    </body>
</html>
