{% extends "layout.html" %}


{% block body %}

    <div class="container-fluid">
        <div class="row-fluid">
            <form method="post">
                <label>
                    User: <input type="text" name="u" value="{{username}}" />
                </label>
                <label>
                    Password: <input type="password" name="p" value="{{password}}" />
                </label>
                <input type="submit" value="OK" />
            </form>
            <div id="error_message">
                {% if error_message %}
                <p style="color:red;">
                    {{error_message}}
                </p>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}
